<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sbi" class="tutorial5.mapasproperty.SBIBank">
	<property name="members">
		<map>
			<entry key="Father" value="Ramesh"></entry>
			<entry key="Son" value="Kamal"></entry>
			<entry key="Brother" value="Vijay"></entry>
			<entry key="Holder" value="Ajay"></entry>
		</map>
	</property>
	</bean>
</beans>
