<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<bean id="hdfc" class="tutorial3.settingbeanpropertiesDI.HDFCBank">
		<property name="current" ref="currentAccount"></property>
 	</bean>

 	<bean id="currentAccount" class="tutorial3.settingbeanpropertiesDI.CurrentAccount"></bean>
</beans>
